body {
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#board{
    background: #FFFFFF;
}

.modal {
    border-width: 3.5px;
    border-radius: 15px;
    outline: none;
}

dialog::backdrop {
    backdrop-filter: blur(1px);
}

button {
    font-family: 'Lexend', sans-serif;
    background-color: #F3F3F3;
    border: 3px solid #000000;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
}

button:hover {
    background-color: #E0E0E0;
}

.swapChoose {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chooseButton {

}
.highlight {
    background-color: #F3F3F3;
    font-weight: bold;
    margin: 0;
}

.hidden {
    display: none;
}

.playerStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    width: 500px;
    margin: 15px;
    height: 20px;
}

p {
    margin: 0;
}